## **02 Data Wrangling**

In this notebook we merged together the various datasets produced in the Pre-Wrangling phase.

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Datasets
agri = pd.read_csv("https://raw.githubusercontent.com/idc0097/data103-project/main/data/mergedagriforfish.csv")
gdp = pd.read_csv("https://raw.githubusercontent.com/idc0097/data103-project/main/data/mergedgdp.csv")
publicvoice = pd.read_csv("https://raw.githubusercontent.com/idc0097/data103-project/main/data/mergedpublicvoiceandacc.csv")
readiness = pd.read_csv("https://raw.githubusercontent.com/idc0097/data103-project/main/data/mergedreadiness.csv")
vulnerability = pd.read_csv("https://raw.githubusercontent.com/idc0097/data103-project/main/data/mergedvulnerability.csv")

In [3]:
display(agri)

     Unnamed: 0            Country  Year  PercGDPContributionOfAgriForestFish
0             0  Brunei Darussalam  1995                             1.161528
1             1             Canada  1995                                  NaN
2             2            Germany  1995                             0.995456
3             3             France  1995                             2.444772
4             4     United Kingdom  1995                             1.262968
..          ...                ...   ...                                  ...
437         437        Philippines  2020                            10.184808
438         438          Singapore  2020                             0.032403
439         439           Thailand  2020                             8.631140
440         440      United States  2020                                  NaN
441         441           Viet Nam  2020                            14.853162

[442 rows x 4 columns]

In [4]:
agri.isna().sum()

Unnamed: 0                              0
Country                                 0
Year                                    0
PercGDPContributionOfAgriForestFish    14
dtype: int64

In [5]:
display(gdp)

     Unnamed: 0            Country  Year  GDPPerCapita
0             0  Brunei Darussalam  1995  15933.452830
1             1             Canada  1995  20613.787880
2             2            Germany  1995  31658.349380
3             3             France  1995  26890.217620
4             4     United Kingdom  1995  23206.568560
..          ...                ...   ...           ...
437         437        Philippines  2020   3298.829586
438         438          Singapore  2020  59797.752180
439         439           Thailand  2020   7186.874092
440         440      United States  2020  63206.521080
441         441           Viet Nam  2020   2785.724161

[442 rows x 4 columns]

In [6]:
gdp.isna().sum()

Unnamed: 0      0
Country         0
Year            0
GDPPerCapita    0
dtype: int64

In [7]:
display(readiness)

,Unnamed: 0,Country,Year,overallreadiness,socialreadiness,economicreadiness,governmentreadiness
0,0,Brunei Darussalam,1995,-0.178337,0.174853,0.522559,0.691582
1,1,Cambodia,1995,-0.059828,0.196209,0.313859,0.330263
2,2,Canada,1995,0.143769,0.459899,0.485895,0.827835
3,3,France,1995,0.144454,0.542928,0.455845,0.738754
4,4,Germany,1995,0.169407,0.556133,0.475101,0.820803
...,...,...,...,...,...,...,...
420,420,Singapore,2019,-0.014014,0.748457,0.775777,0.892001
421,421,Thailand,2019,0.048130,0.348227,0.609801,0.469839
422,422,United Kingdom,2019,0.118362,0.599464,0.689452,0.786848
423,423,United States,2019,0.017395,0.656818,0.610349,0.724847
424,424,Viet Nam,2019,0.044606,0.311649,0.482200,0.468275

In [8]:
readiness.isna().sum()

Unnamed: 0             0
Country                0
Year                   0
overallreadiness       0
socialreadiness        0
economicreadiness      0
governmentreadiness    0
dtype: int64

In [9]:
display(vulnerability)

,Unnamed: 0,Country,Year,ecosystemvulnerability,exposure,foodvulnerability,habitatvulnerability,healthvulnerability,watervulnerability,overallvulnerability
0,0,Brunei Darussalam,1995,0.399451,0.404785,0.434201,0.625081,0.396556,0.285724,0.108407
1,1,Cambodia,1995,0.463645,0.393905,0.637270,0.571884,0.507440,0.566929,0.065538
2,2,Canada,1995,0.400140,0.433494,0.243380,0.504988,0.291677,0.204685,-0.097689
3,3,France,1995,0.291479,0.396667,0.319083,0.389452,0.253146,0.306370,-0.112213
4,4,Germany,1995,0.280313,0.346770,0.221775,0.362966,0.245788,0.402039,-0.101326
...,...,...,...,...,...,...,...,...,...,...
420,420,Singapore,2019,0.334201,0.538327,0.268108,0.455644,0.225824,0.485130,0.219653
421,421,Thailand,2019,0.479622,0.457570,0.436600,0.380739,0.384389,0.442124,-0.006814
422,422,United Kingdom,2019,0.279247,0.389994,0.213072,0.415101,0.130241,0.356954,-0.039987
423,423,United States,2019,0.424643,0.481034,0.348337,0.452600,0.131986,0.292796,0.043151
424,424,Viet Nam,2019,0.554880,0.490791,0.496677,0.431208,0.353751,0.477972,0.018687

In [10]:
vulnerability.isna().sum()

Unnamed: 0                0
Country                   0
Year                      0
ecosystemvulnerability    0
exposure                  0
foodvulnerability         0
habitatvulnerability      0
healthvulnerability       0
watervulnerability        0
overallvulnerability      0
dtype: int64

In [11]:
display(publicvoice)

     Unnamed: 0            Country  Year  publicvoiceandgovaccountabilityindex
0             0  Brunei Darussalam  1995                                   NaN
1             1           Cambodia  1995                                   NaN
2             2          Indonesia  1995                                   NaN
3             3            Lao PDR  1995                                   NaN
4             4            Myanmar  1995                                   NaN
..          ...                ...   ...                                   ...
437         437            Germany  2020                              1.377576
438         438              Japan  2020                              0.987699
439         439              Italy  2020                              1.057024
440         440     United Kingdom  2020                              1.246781
441         441      United States  2020                              0.868937

[442 rows x 4 columns]

In [12]:
publicvoice.isna().sum()

Unnamed: 0                               0
Country                                  0
Year                                     0
publicvoiceandgovaccountabilityindex    68
dtype: int64

In [13]:
#Recall that since Public Voice and Accountability does not have data for the years 1995, 1997, 1999, and 2001. This is why there are 68 null values; 17 * 4 = 68.
#This will be resolved in the imputing section of the project.

#Readiness and Vulnerability, with data from the years 1995 to 2019, have 425 rows. (17 countries * 25 years = 24 rows)
#GDP, Agri, and Public voice have data rows from the years 1995 to 2019, and have 442 rows. (17 countries * 26 years = 442 rows)

In [14]:
#We first merge readiness and vulnerability together as they came from the same source. The product should be a dataset with 425 rows.
tableA = pd.merge(readiness, vulnerability)
display(tableA)

,Unnamed: 0,Country,Year,overallreadiness,socialreadiness,economicreadiness,governmentreadiness,ecosystemvulnerability,exposure,foodvulnerability,habitatvulnerability,healthvulnerability,watervulnerability,overallvulnerability
0,0,Brunei Darussalam,1995,-0.178337,0.174853,0.522559,0.691582,0.399451,0.404785,0.434201,0.625081,0.396556,0.285724,0.108407
1,1,Cambodia,1995,-0.059828,0.196209,0.313859,0.330263,0.463645,0.393905,0.637270,0.571884,0.507440,0.566929,0.065538
2,2,Canada,1995,0.143769,0.459899,0.485895,0.827835,0.400140,0.433494,0.243380,0.504988,0.291677,0.204685,-0.097689
3,3,France,1995,0.144454,0.542928,0.455845,0.738754,0.291479,0.396667,0.319083,0.389452,0.253146,0.306370,-0.112213
4,4,Germany,1995,0.169407,0.556133,0.475101,0.820803,0.280313,0.346770,0.221775,0.362966,0.245788,0.402039,-0.101326
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
420,420,Singapore,2019,-0.014014,0.748457,0.775777,0.892001,0.334201,0.538327,0.268108,0.455644,0.225824,0.485130,0.219653
421,421,Thailand,2019,0.048130,0.348227,0.609801,0.469839,0.479622,0.457570,0.436600,0.380739,0.384389,0.442124,-0.006814
422,422,United Kingdom,2019,0.118362,0.599464,0.689452,0.786848,0.279247,0.389994,0.213072,0.415101,0.130241,0.356954,-0.039987
423,423,United States,2019,0.017395,0.656818,0.610349,0.724847,0.424643,0.481034,0.348337,0.452600,0.131986,0.292796,0.043151
424,424,Viet Nam,2019,0.044606,0.311649,0.482200,0.468275,0.554880,0.490791,0.496677,0.431208,0.353751,0.477972,0.018687

In [15]:
tableA.isna().sum()

Unnamed: 0                0
Country                   0
Year                      0
overallreadiness          0
socialreadiness           0
economicreadiness         0
governmentreadiness       0
ecosystemvulnerability    0
exposure                  0
foodvulnerability         0
habitatvulnerability      0
healthvulnerability       0
watervulnerability        0
overallvulnerability      0
dtype: int64

In [16]:
#We next merge tableA with GDP, which has complete data. The ideal product should be something with 442 rows so we can smoothly merge the dataset with the rest.
tableA.dtypes

Unnamed: 0                  int64
Country                    object
Year                        int64
overallreadiness          float64
socialreadiness           float64
economicreadiness         float64
governmentreadiness       float64
ecosystemvulnerability    float64
exposure                  float64
foodvulnerability         float64
habitatvulnerability      float64
healthvulnerability       float64
watervulnerability        float64
overallvulnerability      float64
dtype: object

In [17]:
gdp.dtypes

Unnamed: 0        int64
Country          object
Year              int64
GDPPerCapita    float64
dtype: object

In [18]:
tableB = pd.merge(tableA, gdp, how='right', on=['Country', 'Year'])

In [19]:
display(tableB)

,Unnamed: 0_x,Country,Year,overallreadiness,socialreadiness,economicreadiness,governmentreadiness,ecosystemvulnerability,exposure,foodvulnerability,habitatvulnerability,healthvulnerability,watervulnerability,overallvulnerability,Unnamed: 0_y,GDPPerCapita
0,0.0,Brunei Darussalam,1995,-0.178337,0.174853,0.522559,0.691582,0.399451,0.404785,0.434201,0.625081,0.396556,0.285724,0.108407,0,15933.452830
1,2.0,Canada,1995,0.143769,0.459899,0.485895,0.827835,0.400140,0.433494,0.243380,0.504988,0.291677,0.204685,-0.097689,1,20613.787880
2,4.0,Germany,1995,0.169407,0.556133,0.475101,0.820803,0.280313,0.346770,0.221775,0.362966,0.245788,0.402039,-0.101326,2,31658.349380
3,3.0,France,1995,0.144454,0.542928,0.455845,0.738754,0.291479,0.396667,0.319083,0.389452,0.253146,0.306370,-0.112213,3,26890.217620
4,14.0,United Kingdom,1995,0.177075,0.513785,0.479380,0.839046,0.286945,0.389994,0.197825,0.401152,0.261049,0.360162,-0.120684,4,23206.568560
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,NaN,Philippines,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,437,3298.829586
438,NaN,Singapore,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,438,59797.752180
439,NaN,Thailand,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,439,7186.874092
440,NaN,United States,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440,63206.521080
441,NaN,Viet Nam,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441,2785.724161

In [20]:
#We should have 17 NaN values for 11 variables.
#This is because we have 11 variables for readiness and vulnerability for 17 countries which have no data for the year 2020. 
#This means that there should be 17 missing values for each readiness and vulnerability variable as there is no 2020 data.
tableB.isna().sum()

Unnamed: 0_x              17
Country                    0
Year                       0
overallreadiness          17
socialreadiness           17
economicreadiness         17
governmentreadiness       17
ecosystemvulnerability    17
exposure                  17
foodvulnerability         17
habitatvulnerability      17
healthvulnerability       17
watervulnerability        17
overallvulnerability      17
Unnamed: 0_y               0
GDPPerCapita               0
dtype: int64

In [21]:
#We have successfully merged GDP and tableA into tableB.

In [22]:
#merging the rest
tableC = pd.merge(tableB, agri, how='right', on=['Country', 'Year'])
display(tableC)

,Unnamed: 0_x,Country,Year,overallreadiness,socialreadiness,economicreadiness,governmentreadiness,ecosystemvulnerability,exposure,foodvulnerability,habitatvulnerability,healthvulnerability,watervulnerability,overallvulnerability,Unnamed: 0_y,GDPPerCapita,Unnamed: 0,PercGDPContributionOfAgriForestFish
0,0.0,Brunei Darussalam,1995,-0.178337,0.174853,0.522559,0.691582,0.399451,0.404785,0.434201,0.625081,0.396556,0.285724,0.108407,0,15933.452830,0,1.161528
1,2.0,Canada,1995,0.143769,0.459899,0.485895,0.827835,0.400140,0.433494,0.243380,0.504988,0.291677,0.204685,-0.097689,1,20613.787880,1,NaN
2,4.0,Germany,1995,0.169407,0.556133,0.475101,0.820803,0.280313,0.346770,0.221775,0.362966,0.245788,0.402039,-0.101326,2,31658.349380,2,0.995456
3,3.0,France,1995,0.144454,0.542928,0.455845,0.738754,0.291479,0.396667,0.319083,0.389452,0.253146,0.306370,-0.112213,3,26890.217620,3,2.444772
4,14.0,United Kingdom,1995,0.177075,0.513785,0.479380,0.839046,0.286945,0.389994,0.197825,0.401152,0.261049,0.360162,-0.120684,4,23206.568560,4,1.262968
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,NaN,Philippines,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,437,3298.829586,437,10.184808
438,NaN,Singapore,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,438,59797.752180,438,0.032403
439,NaN,Thailand,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,439,7186.874092,439,8.631140
440,NaN,United States,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440,63206.521080,440,NaN
441,NaN,Viet Nam,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,441,2785.724161,441,14.853162

In [23]:
tableC.isna().sum()
#The null values are still the same from table B.

Unnamed: 0_x                           17
Country                                 0
Year                                    0
overallreadiness                       17
socialreadiness                        17
economicreadiness                      17
governmentreadiness                    17
ecosystemvulnerability                 17
exposure                               17
foodvulnerability                      17
habitatvulnerability                   17
healthvulnerability                    17
watervulnerability                     17
overallvulnerability                   17
Unnamed: 0_y                            0
GDPPerCapita                            0
Unnamed: 0                              0
PercGDPContributionOfAgriForestFish    14
dtype: int64

In [24]:
tableD = pd.merge(tableC, publicvoice, how='right', on=['Country', 'Year'])
display(tableD)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Unnamed: 0_x'} in the result is deprecated and will raise a MergeError in a future version.
  """Entry point for launching an IPython kernel.

,Unnamed: 0_x,Country,Year,overallreadiness,socialreadiness,economicreadiness,governmentreadiness,ecosystemvulnerability,exposure,foodvulnerability,habitatvulnerability,healthvulnerability,watervulnerability,overallvulnerability,Unnamed: 0_y,GDPPerCapita,Unnamed: 0_x,PercGDPContributionOfAgriForestFish,Unnamed: 0_y,publicvoiceandgovaccountabilityindex
0,0.0,Brunei Darussalam,1995,-0.178337,0.174853,0.522559,0.691582,0.399451,0.404785,0.434201,0.625081,0.396556,0.285724,0.108407,0,15933.452830,0,1.161528,0,NaN
1,1.0,Cambodia,1995,-0.059828,0.196209,0.313859,0.330263,0.463645,0.393905,0.637270,0.571884,0.507440,0.566929,0.065538,8,322.931575,8,47.724560,1,NaN
2,5.0,Indonesia,1995,0.015053,0.233235,0.503790,0.381178,0.475409,0.517932,0.602365,0.532567,0.482700,0.418619,0.010084,5,1026.393436,5,17.138346,2,NaN
3,8.0,Lao PDR,1995,-0.040706,0.197401,0.330295,0.378320,0.557446,0.393777,0.646768,0.551481,0.615999,0.461857,0.083271,9,363.880052,9,42.226236,3,NaN
4,10.0,Myanmar,1995,-0.069966,0.107750,0.492703,0.206757,0.559146,0.565127,0.567118,0.598676,0.675996,0.402766,0.075015,10,111.140814,10,NaN,4,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,NaN,Germany,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,427,46252.689300,427,0.735310,437,1.377576
438,NaN,Japan,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,432,40193.252440,432,NaN,438,0.987699
439,NaN,Italy,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,431,31769.965870,431,1.987092,439,1.057024
440,NaN,United Kingdom,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,429,41059.168810,429,0.581796,440,1.246781
441,NaN,United States,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,440,63206.521080,440,NaN,441,0.868937

In [25]:
#There should be 17 + 68 = 85 null values in the publicvoiceandaccountabilityindex variable, and 17 null values in the readiness and vulnerability variables if we
#merged successfully.
tableD.isna().sum()

Unnamed: 0_x                            17
Country                                  0
Year                                     0
overallreadiness                        17
socialreadiness                         17
economicreadiness                       17
governmentreadiness                     17
ecosystemvulnerability                  17
exposure                                17
foodvulnerability                       17
habitatvulnerability                    17
healthvulnerability                     17
watervulnerability                      17
overallvulnerability                    17
Unnamed: 0_y                             0
GDPPerCapita                             0
Unnamed: 0_x                             0
PercGDPContributionOfAgriForestFish     14
Unnamed: 0_y                             0
publicvoiceandgovaccountabilityindex    68
dtype: int64

In [26]:
#We have successfully merged our separate .CSVs together.

In [27]:
climatedata = tableD[['Country','Year','overallreadiness','socialreadiness','economicreadiness','governmentreadiness','ecosystemvulnerability','exposure','foodvulnerability',
'habitatvulnerability','healthvulnerability','watervulnerability','overallvulnerability','GDPPerCapita','PercGDPContributionOfAgriForestFish','publicvoiceandgovaccountabilityindex']]
display(climatedata)

,Country,Year,overallreadiness,socialreadiness,economicreadiness,governmentreadiness,ecosystemvulnerability,exposure,foodvulnerability,habitatvulnerability,healthvulnerability,watervulnerability,overallvulnerability,GDPPerCapita,PercGDPContributionOfAgriForestFish,publicvoiceandgovaccountabilityindex
0,Brunei Darussalam,1995,-0.178337,0.174853,0.522559,0.691582,0.399451,0.404785,0.434201,0.625081,0.396556,0.285724,0.108407,15933.452830,1.161528,NaN
1,Cambodia,1995,-0.059828,0.196209,0.313859,0.330263,0.463645,0.393905,0.637270,0.571884,0.507440,0.566929,0.065538,322.931575,47.724560,NaN
2,Indonesia,1995,0.015053,0.233235,0.503790,0.381178,0.475409,0.517932,0.602365,0.532567,0.482700,0.418619,0.010084,1026.393436,17.138346,NaN
3,Lao PDR,1995,-0.040706,0.197401,0.330295,0.378320,0.557446,0.393777,0.646768,0.551481,0.615999,0.461857,0.083271,363.880052,42.226236,NaN
4,Myanmar,1995,-0.069966,0.107750,0.492703,0.206757,0.559146,0.565127,0.567118,0.598676,0.675996,0.402766,0.075015,111.140814,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
437,Germany,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,46252.689300,0.735310,1.377576
438,Japan,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40193.252440,NaN,0.987699
439,Italy,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31769.965870,1.987092,1.057024
440,United Kingdom,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41059.168810,0.581796,1.246781
441,United States,2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63206.521080,NaN,0.868937

In [28]:
climatedata.isna().sum()

Country                                  0
Year                                     0
overallreadiness                        17
socialreadiness                         17
economicreadiness                       17
governmentreadiness                     17
ecosystemvulnerability                  17
exposure                                17
foodvulnerability                       17
habitatvulnerability                    17
healthvulnerability                     17
watervulnerability                      17
overallvulnerability                    17
GDPPerCapita                             0
PercGDPContributionOfAgriForestFish     14
publicvoiceandgovaccountabilityindex    68
dtype: int64

In [29]:
#convert df to csv file
df = pd.DataFrame(climatedata, columns = ['Country', 'Year', 'overallreadiness','socialreadiness','economicreadiness','governmentreadiness','ecosystemvulnerability','exposure','foodvulnerability'
                                         ,'habitatvulnerability','healthvulnerability','watervulnerability','overallvulnerability','GDPPerCapita',
                                          'PercGDPContributionOfAgriForestFish','publicvoiceandgovaccountabilityindex'])
df.to_csv('climatedata.csv', encoding= 'utf-8',index=False)

In [30]:
#from google.colab import files
#files.download('climatedata.csv')
#This .CSV is downloaded and uploaded into GitHub for use in the later notebooks.